/*utilizar el tipo de fuente Dancing Script */
@font-face{
    font-family: 'Dancing Script';
   src: url('Dancing+Script.otf');
   
}

body{
    font-family: 'Dancing Script', cursive;
    background-color: #02010a;
}

/*encabezado*/
header{
    /*aplicar fondo para el encabezado*/
    background-color: #5b7989;
    /*aplicar bordes redondo*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:white;

}

/*menu de navegacion*/
  .encabezado-principal{
    margin:0%;
    padding: 0%;
    border:0%;
}

/*poner el menu en una linea recta*/
li{
    display: inline-block;
    padding: 10px;
    list-style-type: none;
    color: white;
}

a{
    color: inherit;
}

.navegacion h1{
    text-shadow: 2px, 0px, #02010a;
}

/*quitar el subrayado a Inicio*/
 a[href="index.html"] {
    text-decoration: none;
}
/*fin del menu navegacion*/

 /*seleccionar el 2do hijo de body de la etiqueta section*/
 section:nth-child(2){
     background-color: #82c3a6;
}

/*seleccionar el 3er hijo de body de la etiqueta section*/
section:nth-child(3){
   background-color: #d5c75f;
}

#imagen2 > img {
    box-shadow: 2px 2px #82c3a6;
}

img{
    box-shadow: 2px 2px black;
}


 #imagen2{
    /*transition: border 1s;
    */transition: transform  1s;
   
}

#imagen2:hover{
   /* border: 4px solid black;*/
    transform: rotate(10deg);
  
}
#imagen3>img{
    box-shadow: 2px, 2px, black;
    transition-property: transform, box-shadow;
    transition-duration: 1s, 1s;
}


#imagen3>img:hover{
    transform:translate(20px,5px);
     box-shadow: 2px, 2px, #82c3a6;
}



div div{
    margin: 10px;
}

/*tamaño de las imagenes de las redes sociales*/
#columna3 p img{
    height: 20px;
    width: 16px;
}

/*animacion*/
@keyframes animacion-body{
    0%{
        position: relative;
        margin-top: 150%;
    }

    60%{
        position: relative;
        margin-top: -5%;
    }

    100%{
        position: relative;
        margin-top: 0%;
    }
}

header {
    animation-name: animacion-body;
    animation-duration:3s;
}

.contenedor {
    text-align: center;
}

/*pie de pagina*/
footer{
    clear: both;
    background-color: #C6d5c5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 30%;
    width: 100%;
}

footer p{
    margin: 3px;
    padding: 3px;
    border: 3px;
}

/*desktop*/
@media (min-width:900px){
    
    body{
    margin: 10%;
    }

    /*enccabezado*/
    header{
        width: 100%;
        height:120px;
    }

    /*Menu navegacion*/
    /*ubicar a la izquierda el h1*/
   .navegacion h1{
        float: left;
    }
    
    ul li {
        float: right;
    }
    /*fin encabezado*/

    /*tamaño de la imagen de la primera*/
    #imagen1 img{
        width:80%;
        height:270px;
    }

    /*tamaño de la imagen del paisaje y retrato*/
    #imagen2 img{
        width:90%;
        height:270px;
    }

    #imagen3 img{
        width:70%;
        height:270px;
    }

    /*muestra en una columna #contenido2*/
    #contenido2 .contenedor  div {
        display: flex;
        flex-direction: column;
    }

    /*muestra en una fila #contenido*/
    .contenedor {
        display: flex;
        flex-direction: row;
    }

    /*seleccionar el 2do hijo de body de la etiqueta section*/
    section:nth-child(2){
        width: 100%;
        height: 300px;
    }

     /*seleccionar el 3er hijo de body de la etiqueta section*/
    section:nth-child(3){
        width: 100%;
        height: 70%;
    }

    /*pie de pagina*/
    footer{
        clear: both;
        background-color: #C6d5c5;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 30%;
        width: 100%;
    }
    
      /*pie de pagina*/
    #contenedor-footer{
        display: flex;
        flex-direction: row;
    }

    /*que cada columna del pie de pagina tenga la anchura del 25%*/
    #contenedor-footer > div{
        margin-left: 5%;
        width: 20%;
    }
}

/*las imagenes son responsiva con % vh*/
/*movil*/
@media (max-width:899px){
    body{
        margin:5%;
    }

    header{
        width: 100%;
        height: 100%;
        text-align: center;
    }


    img{
        width:70%;
        height:70%;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }


    section:nth-child(2){
        width: 100%;
        height:100%;
       
    }

    section:nth-child(3){
        width: 100%;
        height: 100%;   
       
    }

     /*muestra en una fila #contenido*/
     .contenedor {
        display: flex;
        flex-direction: column;
    }

    /*muestra en una fila #contenido*/
    #contenedor-footer {
    display: flex;
    flex-direction: column;
    }

    .contenedor div{
        width:100%; 
    }

    #contenedor-footer > div{
        margin-left: 10%;
    }
}