
@font-face{
    font-family: 'Dancing Script';
   src: url('Dancing+Script.otf');
   
}

body{
    font-family: 'Dancing Script', cursive;
    background-color: #02010a;
    margin: 5%;
}

footer{

    clear: both;
    height: 300px;
    width: 100%;
    background-color: #C6d5c5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100px;
}


/*desktop*/
@media (min-width:900px){

    header{
        background-color: #5b7989;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 120px;
    
        }

    ul li {
        list-style-type: none;
    }

    img{
        text-align: center;
        width:70%;
        height:270px;
    }

    /*muestra en una columna #contenido*/
    #contenido2 {
        display: flex;
        flex-direction: column;
    }

    /*muestra en una fila #contenido*/
    .contenedor {
        display: flex;
        flex-direction: row;
    }

    section:nth-child(2){
        width: 100%;
        height: 300px;
        background-color: #82c3a6;
        text-align: center;
    }

    section:nth-child(3){
        width: 100%;
        height: 70%;
        background-color: #d5c75f ;
        text-align: center;
    }


    .contenedor > div {

        padding: 10px;
        margin: 10px;
        width: 70%;
    }
}

/*las imagenes son responsiva con % vh*/
/*movil*/
@media (max-width:899px){

    header{
        background-color: #5b7989;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 120px;
        text-align: center;
    }

    ul li {
        list-style-type: none;
    }

    img{
        text-align: center;
        top: 10px;
        width:70%;
    }


    section:nth-child(2){
        width: 100%;
        height:100%;
        background-color: #82c3a6;
    
    }

    section:nth-child(3){
        width: 100%;
        height: 100%;
        background-color: #d5c75f ;
        
    }

    #contenido{
        text-align: center;
    }

    #imagen1 {
        text-align: center;
        padding: 0px;
        margin: 0px;
        width: 80%;
    }

    #imagen3, #imagen4 {
        text-align: center;
        padding: 0px;
        margin: 0px;
        width: 80%;
    }
}


